body{
    /* background-color: pink ; */
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white ;
}

.fa-compass{
    font-size: 2 rem;
    color: #fe424d;
}

.nav-link{
    color: #222222 !important;
    /* !important is use to overwrite bootstrap styling */
}


/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, .f-info-social, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-social i {
    font-size: 1.9rem;
    margin-right: 1rem ;
}

.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
    color: black;
}

/* Card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
}

/* new listing  */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit listing  */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}